<section id="_downloads" class="featured-products clearfix">
	<div class="container">
		<div class="product-section-title">
			<h1 id="_downloads-title">Descargas</h1>
		</div>
		<div class="products-grid">
			<div class="row">
				<div id="_downloads-row" class="products owl-theme owl-carousel product-slider">
				  </div>
			</div>
			<a id="_downloads-all" class="all-product-link float-xs-left float-md-right h6" href="#">Ver todas las descargas</a>
		</div>
	</div>
</section>

<script type="text/javascript">
function buildDownloadItem(sectionId, linkToAllURI, value, index, array) {
	  var downloads_folder = "/themes/bizkick/assets/img/downloads";
	  var _link = cuacua_url_base + "/" + $("html").attr("lang") + linkToAllURI + "#" + sectionId + "-" + index;
	  var _img = cuacua_url_base + downloads_folder + "/download" + index + ".png";
	  return "<div id='" + sectionId + "-" + index +"' class='product-item'>" +
		"<article class='product-miniature js-product-miniature' " +
			"itemscope='' itemtype='http://schema.org/Product'>" +
			"<div class='thumbnail-container'>" +
				"<div class='product-image-block'>" +
					"<img id='" + sectionId + "_img-" + index + "' src='" + _img + "' />" +
				"</div>" +
				"<div>" +
					"<h1 class='h3 product-title' itemprop='name'>" +
						"<a id='" + sectionId +"_link-" + index + "' href='" + _link + "'>" + value + "</a>" +
					"</h1>" +
				"</div>" +
			"</div>" +
		"</article>" +
		"</div>";
	}

var section_id = "_downloads";
var section_title = "Descargas";
var section_items = ["Descarga1", "Descarga2", "Descarga3", "Descarga4", "Descarga5"];
var section_link_to_all_text = "Ver todas las descargas";
var section_link_to_all_uri = "/content/9-downloads";

fillSection(section_id,
		section_title,
		section_items,
		section_link_to_all_text,
		section_link_to_all_uri,
		buildDownloadItem);
</script>