<script type="text/javascript">
	// PARA AÑADIR UNA NUEVA DESCARGA:
	//  1. Incluir en este array un nuevo elemento con el título
	//  2. Incluir en el array de videos_en.html un nuevo elemento con el título en inglés
	var downloads_section_items = ["Descarga1", "Descarga2", "Descarga3", "Descarga4", "Descarga5"];

	var downloads_section_title = "Descargas";
	var downloads_section_link_to_all_text = "Ver todas las descargas";
</script>

<section id="_downloads" class="featured-products clearfix">
	<div class="container">
		<div class="product-section-title">
			<h1 id="_downloads-title">Descargas</h1>
		</div>
		<div class="products-grid">
			<div class="row">
				<div id="_downloads-row" class="products owl-theme owl-carousel product-slider">
				  </div>
			</div>
			<a id="_downloads-all" class="all-product-link float-xs-left float-md-right h6" href="#">Ver todas las descargas</a>
		</div>
	</div>
</section>

<script type="text/javascript">
	function buildDownloadItem(sectionId, linkToAllURI, value, index, array) {
	  var _link = cuacua_url_base + "/" + $("html").attr("lang") + linkToAllURI + "#" + sectionId + "-" + index;
	  var _img = cuacua_url_base + downloads_folder + "/download" + index + ".png";
	  return "<div id='" + sectionId + "-" + index +"' class='product-item'>" +
		"<article class='product-miniature js-product-miniature' " +
			"itemscope='' itemtype='http://schema.org/Product'>" +
			"<div class='thumbnail-container'>" +
				"<div class='product-image-block'>" +
					"<img id='" + sectionId + "_img-" + index + "' src='" + _img + "' />" +
				"</div>" +
				"<div>" +
					"<h1 class='h3 product-title' itemprop='name'>" +
						"<a id='" + sectionId +"_link-" + index + "' href='" + _link + "'>" + value + "</a>" +
					"</h1>" +
				"</div>" +
			"</div>" +
		"</article>" +
		"</div>";
	}

	fillSection("_downloads",
			downloads_section_title,
			downloads_section_items,
			downloads_section_link_to_all_text,
			"/content/9-downloads",
			buildDownloadItem);
</script>