<section id="_downloads" class="cuacua-section clearfix">
	<div class="container">
		<div class="product-section-title">
			<h1 id="_downloads-title">Descargas</h1>
		</div>
		<div class="products-grid">
			<div class="row" style="margin-bottom: 10px;">
				<div id="_downloads-row" class="products owl-theme owl-carousel product-slider"></div>
			</div>
			<a id="_downloads-all" class="all-product-link float-xs-left float-md-right h6" href="#">Ver todas las descargas</a>
		</div>
	</div>
</section>

<script type="text/javascript">
	fillSection(
			downloads_section_id,
			(cuacua_lang == "es") ? downloads_section_title[0] : downloads_section_title[1],
			(cuacua_lang == "es") ? downloads_section_items[0] : downloads_section_items[1],
			(cuacua_lang == "es") ? downloads_section_link_to_all_text[0] : downloads_section_link_to_all_text[1],
			(cuacua_lang == "es") ? "/content/7-descargas" : "/content/7-downloads",
			buildDownloadItem);
</script>