<section class="cuacua-section clearfix">
	<div class="container">
		<p style="border-width: 5px; font-size: 1.5em;">
			<strong>¡Bienvenido a la web de Colección Cuacuá!</strong>
			<br /><br />
			Estos son algunos de los efectos beneficiosos de nuestra colección de libros y video-cuentos:
			<ul>
				<li>Los niños de 0 a 5 años se lo pasarán genial escuchando graznar a un tigre o rugir a una ardilla.</li>
				<li>Los niños a partir de 6 años pueden practicar la lectura en español y en inglés.</li>
				<li>Todos aprenderéis vocabulario en inglés.</li>
				<li>Las rimas hacen la lectura más amena y entretenida.</li>
				<li>Si los idiomas no son tu fuerte, aprovecha los video-cuentos que encontrarás en nuestra Web o nuestro canal de Youtube.</li>
				<li>O, mejor aún, si los idiomas no son tu fuerte, atrévete a leerselo en inglés. ¡Os partiréis de risa!</li>
			</ul>
		</p>
	</div>
</section>
